
.first-slide{

}
.second-image{
    background: url(../images/bike-5.png);
    height: 100vh;

}
.feature-bike .card{
    width: 350px;
}
.black-white{
    filter: grayscale(100%);
}
.profile-section  .card{
    height: 370px;
    width: 300px;
}
.icons i{
    color: 	#ffe234;
}

footer ul li{
    list-style-type: none;
}

footer{
    background: rgb(5, 5, 33);
}

.color-pallate{
    background-color: #ff4f691a !important; 
    color: rgb(1, 1, 1);
  
}