body{
   
}
.first-slide{

}
.second-image{
    background: url(../images/bike-5.png);
    height: 100vh;

}
.feature-bike .card{
    width: 350px;
}
.black-white{
    filter: grayscale(100%);
}
.profile-section  .card{
    height: 300px;
    width: 300px;
}
.icons i{
    color: 	#ffe234;
}